.Card {
  background-color: var(--background-300);
  width: 230px;
  height: 345px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.infoCard {
  padding: 0px;
  color: var(--text-300);
  width: 100%;
 
  position: absolute; 
  bottom: 0; 
  left: 0;
  margin: 0;
  z-index: 1;
  display: block; 
  opacity: 0; 
  transform: translateY(10px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.infoCard h3 {
  padding: 5px 5px;
  margin: 0px;
  z-index: 1;
}

.infoCard span {
  padding: 5px;
  margin: 5px 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: var(--primary-100);
  border: 2px solid var(--accent-300);
  z-index: 1;
}

.infoCard .Rating_year {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card:hover  {
  transform: scale(1.04);
  transition: 0.4s;
 }
 
.Card:hover .infoCard {
  opacity: 1; /* Fade in to full opacity */
  transform: translateY(0); /* Slide into original position */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .Card {
    width: 180px; /* Reduce width for tablets and smaller screens */
    height: 270px; /* Adjust height proportionally */
  }

  .infoCard p {
    width: 40px; /* Adjust the width of paragraph boxes */
  }
}

@media (max-width: 480px) {
  .Card {
    width: 150px; /* Further reduce width for mobile phones */
    height: 230px; /* Adjust height for smaller screens */
  }

  .infoCard h2 {
    font-size: 14px; /* Adjust heading font size for readability */
  }

  .infoCard p {
    font-size: 12px; /* Adjust paragraph font size for smaller screens */
    width: 35px; /* Further adjust width of paragraph boxes */
  }
}
